# Load Packages

In [68]:
import numpy as np
import pandas as pd

# Import Data

In [69]:
F2Fmerged_raw = pd.read_csv("f2fMerged_raw.csv")

# View Data

In [70]:
F2Fmerged_raw.head()

,UID,Section,Group,Sum_Introversion,Sum_Extraversion,TBL1_iRAT,TBL2_iRAT,TBL3_iRAT,TBL4_iRAT,TBL1_tRAT,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
0,ID,Section,Group,Sum_Introversion,Sum_Extraversion,Module 1: iRAT -- Requires Respondus LockDown ...,Module 2: iRAT - Requires Respondus LockDown B...,Module 3: iRAT - Requires Respondus LockDown B...,Module 4: iRAT - Requires Respondus LockDown B...,Module 1: tRAT -- Only one Team Member submits...,...,Module 4: Step 6 -- Reflection for EQ-i Summar...,Module 4: Step 7 -- Improving Resilience throu...,Module 4: Self-Assessment -- EQ-i Debrief (com...,Module 4: Team Assessment -- EQ-i Debrief (com...,Module 4: Peer-to-Peer Assessment -- EQ-i Debr...,Module 5: Relaxation and Mindfullness Techniqu...,Module 6: Reflection for Prioritizing Sleep (c...,Module 7: SMART Goals (completion grade),Module 8: Filling the Gaps (completion grade),Module 9: Physical Activity Goal (completion g...
1,10267,F2F_2021,24,24,11,3,2,5,3,15,...,1,1,0,1,1,1,1,1,1,1
2,23143,F2F_2021,8,20,13,3,2,3,2,15,...,0,1,1,1,1,1,1,1,1,1
3,23144,F2F_2021,8,9999,9999,4,2,3,4,15,...,1,1,1,1,1,1,1,1,1,1
4,23145,F2F_2021,5,18,18,4,2,2,3,15,...,1,1,1,1,0,0,0,1,1,1

In [71]:
F2Fmerged_raw.info

<bound method DataFrame.info of        UID   Section  Group  Sum_Introversion  Sum_Extraversion  \
0       ID   Section  Group  Sum_Introversion  Sum_Extraversion
1    10267  F2F_2021     24                24                11
2    23143  F2F_2021      8                20                13
3    23144  F2F_2021      8              9999              9999
4    23145  F2F_2021      5                18                18
..     ...       ...    ...               ...               ...
620  19143  F2F_2019      3                29                 5
621  19144  F2F_2019      8                18                17
622  19145  F2F_2019     10                29                 6
623  19153  F2F_2019     15                15                18
624    NaN       NaN    NaN               NaN               NaN

                                             TBL1_iRAT  \
0    Module 1: iRAT -- Requires Respondus LockDown ...
1                                                    3
2                                                    3
3                                                    4
4                                                    4
..                                                 ...
620                                                  3
621                                                  4
622                                                  4
623                                                  5
624                                                  5

                                             TBL2_iRAT  \
0    Module 2: iRAT - Requires Respondus LockDown B...
1                                                    2
2                                                    2
3                                                    2
4                                                    2
..                                                 ...
620                                                  4
621                                                  4
622                                                  4
623                                                  4
624                                                  5

                                             TBL3_iRAT  \
0    Module 3: iRAT - Requires Respondus LockDown B...
1                                                    5
2                                                    3
3                                                    3
4                                                    2
..                                                 ...
620                                                  5
621                                                  4
622                                                  4
623                                                  4
624                                                  5

                                             TBL4_iRAT  \
0    Module 4: iRAT - Requires Respondus LockDown B...
1                                                    3
2                                                    2
3                                                    4
4                                                    3
..                                                 ...
620                                                  4
621                                                  0
622                                                  4
623                                                  4
624                                                  5

                                             TBL1_tRAT  ...  \
0    Module 1: tRAT -- Only one Team Member submits...  ...
1                                                   15  ...
2                                                   15  ...
3                                                   15  ...
4                                                   15  ...
..                                                 ...  ...
620                                                 15  ...
621                                                 15  ...
622                                                 14  ...
623                                                 15  ...
624                                                 15  ...

                                           Unnamed: 29  \
0    Module 4: Step 6 -- Reflection for EQ-i Summar...
1                                                    1
2                                                    0
3                                                    1
4                                                    1
..                                                 ...
620                                                  1
621                                               9999
622                                                  1
623                                                  1
624                                                  1

                                           Unnamed: 30  \
0    Module 4: Step 7 -- Improving Resilience throu...
1                                                    1
2                                                    1
3                                                    1
4                                                    1
..                                                 ...
620                                               7999
621                                               7999
622                                               7999
623                                               7999
624                                                  1

                                           Unnamed: 31  \
0    Module 4: Self-Assessment -- EQ-i Debrief (com...
1                                                    0
2                                                    1
3                                                    1
4                                                    1
..                                                 ...
620                                                  1
621                                               9999
622                                                  1
623                                                  1
624                                                  1

                                           Unnamed: 32  \
0    Module 4: Team Assessment -- EQ-i Debrief (com...
1                                                    1
2                                                    1
3                                                    1
4                                                    1
..                                                 ...
620                                                  1
621                                                  1
622                                                  1
623                                                  1
624                                                  1

                                           Unnamed: 33  \
0    Module 4: Peer-to-Peer Assessment -- EQ-i Debr...
1                                                    1
2                                                    1
3                                                    1
4                                                    0
..                                                 ...
620                                                  1
621                                                  1
622                                                  1
623                                                  1
624                                                  1

                                           Unnamed: 34  \
0    Module 5: Relaxation and Mindfullness Techniqu...
1                                                    1
2                                                    1
3                                                    1
4                                                    0
..                                                 ...
620                                               7999
621                                               7999
622                                               7999
623                                               7999
624                                                  1

                                           Unnamed: 35  \
0    Module 6: Reflection for Prioritizing Sleep (c...
1                                                    1
2                                                    1
3                                                    1
4                                                    0
..                                                 ...
620                                               7999
621                                               7999
622                                               7999
623                                               7999
624                                                  1

                                  Unnamed: 36  \
0    Module 7: SMART Goals (completion grade)
1                                           1
2                                           1
3                                           1
4                                           1
..                                        ...
620                                      7999
621                                      7999
622                                      7999
623                                      7999
624                                         1

                                       Unnamed: 37  \
0    Module 8: Filling the Gaps (completion grade)
1                                                1
2                                                1
3                                                1
4                                                1
..                                             ...
620                                           7999
621                                           7999
622                                           7999
623                                           7999
624                                              1

                                           Unnamed: 38
0    Module 9: Physical Activity Goal (completion g...
1                                                    1
2                                                    1
3                                                    1
4                                                    1
..                                                 ...
620                                               7999
621                                               7999
622                                               7999
623                                               7999
624                                                  1

[625 rows x 39 columns]>

# Check the Shape of the Dataframe

In [72]:
F2Fmerged_raw.shape

(625, 39)

# Descriptive Stats

In [73]:
F2Fmerged_raw.describe().transpose()

                 count unique       top freq
UID                624    624     18917    1
Section            624      4  F2F_2019  231
Group              624     28        23   27
Sum_Introversion   624     33        20   40
Sum_Extraversion   624     35        15   38
TBL1_iRAT          625      8         4  195
TBL2_iRAT          625      8         3  224
TBL3_iRAT          625      8         3  195
TBL4_iRAT          625      8         3  191
TBL1_tRAT          625      6        15  489
TBL2_tRAT          625     10        15  185
TBL3_tRAT          625     10        15  329
TBL4_tRAT          625      8        15  281
Unnamed: 13        624      2         1  623
Unnamed: 14        625      5         1  606
Unnamed: 15        624      5         1  618
Unnamed: 16        624      3         1  622
Unnamed: 17        624      4         1  566
Unnamed: 18        625      4         1  610
Unnamed: 19        625      4      7999  453
Unnamed: 20        625      5         1  619
Unnamed: 21        625      3         1  623
Unnamed: 22        624      3         1  599
Unnamed: 23        625      3         1  599
Unnamed: 24        625      5         1  617
Unnamed: 25        625      3         1  623
Unnamed: 26        625      4         1  594
Unnamed: 27        625      4         1  390
Unnamed: 28        625      3         1  622
Unnamed: 29        625      4         1  594
Unnamed: 30        625      4         1  369
Unnamed: 31        625      5         1  598
Unnamed: 32        625      5         1  614
Unnamed: 33        624      5         1  583
Unnamed: 34        625      4         1  385
Unnamed: 35        625      4         1  375
Unnamed: 36        625      4         1  380
Unnamed: 37        625      4         1  380
Unnamed: 38        625      4         1  380

# Dropping columns, using drop()

In [74]:
F2Fmerged_raw.drop(['TBL4_iRAT', 'TBL4_tRAT', "Unnamed: 13","Unnamed: 14","Unnamed: 15","Unnamed: 16","Unnamed: 17","Unnamed: 18","Unnamed: 19","Unnamed: 20","Unnamed: 21","Unnamed: 22","Unnamed: 23","Unnamed: 24","Unnamed: 25","Unnamed: 26","Unnamed: 27","Unnamed: 28","Unnamed: 29","Unnamed: 30","Unnamed: 31","Unnamed: 32","Unnamed: 33","Unnamed: 34", "Unnamed: 35", "Unnamed: 36","Unnamed: 37","Unnamed: 38"], axis=1, inplace=True)

# View Updated Dataset

In [75]:
F2Fmerged_raw

,UID,Section,Group,Sum_Introversion,Sum_Extraversion,TBL1_iRAT,TBL2_iRAT,TBL3_iRAT,TBL1_tRAT,TBL2_tRAT,TBL3_tRAT
0,ID,Section,Group,Sum_Introversion,Sum_Extraversion,Module 1: iRAT -- Requires Respondus LockDown ...,Module 2: iRAT - Requires Respondus LockDown B...,Module 3: iRAT - Requires Respondus LockDown B...,Module 1: tRAT -- Only one Team Member submits...,Module 2: tRAT -- Only one Team Member submits...,Module 3: tRAT -- Only one Team Member submits...
1,10267,F2F_2021,24,24,11,3,2,5,15,14,15
2,23143,F2F_2021,8,20,13,3,2,3,15,14,15
3,23144,F2F_2021,8,9999,9999,4,2,3,15,14,15
4,23145,F2F_2021,5,18,18,4,2,2,15,15,14
...,...,...,...,...,...,...,...,...,...,...,...
620,19143,F2F_2019,3,29,5,3,4,5,15,14,15
621,19144,F2F_2019,8,18,17,4,4,4,15,14,14
622,19145,F2F_2019,10,29,6,4,4,4,14,15,13
623,19153,F2F_2019,15,15,18,5,4,4,15,14,15
624,NaN,NaN,NaN,NaN,NaN,5,5,5,15,15,15

# Columns

In [76]:
F2Fmerged_raw.columns

Index(['UID', 'Section', 'Group', 'Sum_Introversion', 'Sum_Extraversion',
       'TBL1_iRAT', 'TBL2_iRAT', 'TBL3_iRAT', 'TBL1_tRAT', 'TBL2_tRAT',
       'TBL3_tRAT'],
      dtype='object')

# Arrays on Section, Group and TBLs 1-3

In [77]:
F2Fmerged_raw.Section.unique()

array(['Section', 'F2F_2021', 'F2F_2020', 'F2F_2019', nan], dtype=object)

In [78]:
F2Fmerged_raw.Group.unique()

array(['Group', '24', '8', '5', '21', '9', '11', '14', '22', '13', '20',
       '1', '16', '25', '6', '12', '7', '3', '19', '18', '23', '4', '10',
       '17', '15', '2', '9999', '26', nan], dtype=object)

In [79]:
F2Fmerged_raw.TBL1_iRAT.unique()

array(['Module 1: iRAT -- Requires Respondus LockDown Browser (5 points)',
       '3', '4', '5', '2', '1', '0', '7999'], dtype=object)

In [80]:
F2Fmerged_raw.TBL2_iRAT.unique()

array(['Module 2: iRAT - Requires Respondus LockDown Browser + Webcam (5 points)',
       '2', '3', '0', '4', '1', '7999', '5'], dtype=object)

In [81]:
F2Fmerged_raw.TBL3_iRAT.unique()

array(['Module 3: iRAT - Requires Respondus LockDown Browser + Webcam (5 points)',
       '5', '3', '2', '4', '1', '0', '7999'], dtype=object)

In [82]:
F2Fmerged_raw.TBL1_tRAT.unique()

array(['Module 1: tRAT -- Only one Team Member submits (15 points)', '15',
       '12', '0', '14', '7999'], dtype=object)

In [83]:
F2Fmerged_raw.TBL2_tRAT.unique()

array(['Module 2: tRAT -- Only one Team Member submits (15 points)', '14',
       '15', '12', '13', '11', '8', '7999', '0', '10'], dtype=object)

In [84]:
F2Fmerged_raw.TBL3_tRAT.unique()

array(['Module 3: tRAT -- Only one Team Member submits (15 points)', '15',
       '14', '12', '13', '7999', '0', '10', '16', '9999'], dtype=object)